@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 768px) {
    .header-right .main-menu > li {
        margin: 0px 14px;
    }
    .header-right .main-menu li > a {
        font-size: 14px;
        padding: 20px 0;
    }
}
@media screen and (max-width: 425px) {
    .header-top{
        display: none;
    }
    .header-right .main-menu{
        display: none;
    }
    .slicknav_menu{
        display: block;
    }
    .header-left {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 375px) {
   
}
@media screen and (max-width: 320px) {
   
}